<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bhargav | {{ title }}</title>
    <link rel="icon" href="/assets/images/logo.png">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" />
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/base.css">
    {% if css %}
      <link rel="stylesheet" href="{{ css }}">
    {% endif %}
  </head>
  <body>
    <svg style="display: none;">
      <defs>
        <filter id="grain">
          <feTurbulence
            type="turbulence"
            baseFrequency="0.82"
            numOctaves="1"
            result="turbulence"/>
          <feBlend in="SourceGraphic" in2="turbulence"/>
        </filter>
      </defs>
    </svg>
    <div class="wrapper">
      {% include 'header.njk' %}

      <main>

        {{ content | safe }}

      </main>
      {% include 'footer.njk' %}
    </main>
  </body>
</html>