<header class="header">
  <nav class="header_nav">
    <h2 class="header_nav__h2"><a href="/" class="focustext">bhargav</a>/blog</h2>
    <ul class="header_nav__ul">
      <li class="navlist_item link_home">
        <h3 class="navlist_item__h3">
          <a href="/blog" class="spl_link{% if title == "Blog" %} active{% endif %}">Home</a> &#8226;
          <a href="/blog/tags" class="spl_link{% if title == "Tags" %} active{% endif %}">Tags</a>
        </h3>
      </li>
    </ul>
  </nav>
</header>